@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: #000115;
    cursor: none;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 65px;
}
