.contact {
    background-color: #b3d9d4; 
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.contact-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    flex: 1;
    text-align: center;
}

.contact-info h2 {
    padding-bottom: 20px;
    font-size: 55px;
    color: #d1707d;
}

.contact-info p {
    padding-bottom: 20px;
    font-size: 38px;
    color: #0f4172;
}

.contact-info a {
    justify-content: center;
    align-items:center;
    width: 80px;
    height: 80px;
    background: transparent;
    text-decoration: none;
    font-size: 50px;
    color:#0f4172;
}

.contact-image {
    flex: 1;
    text-align: right;
}

.contact-image img {
    max-width: 100%;
    height: auto;

}