.footer {
  background: #0f4172;
  box-shadow: 0 2px 15px 0 black;
}

.footer-content {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  display: flex;
  align-items: center;
  width: 40%;
}

.footer-span {
  padding-left: 25%;
  color: #ecffff;
  font-size: 1.2rem;
}

.box-icons {
  gap: 100px;
}

.icons-padding {
  text-decoration: none;
  display: flex;
  padding-right: 15%;
  gap: 25px;
}


.icons-padding ul{
  text-decoration: none;
}

.icons {

  text-decoration: none;
  color: #ecffff;
  font-size: 100px;
}

@media (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1369px) {
}
