* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.home {
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  background: #0f4172;
}

.home-content h1 {
  color: #ecffff;
  font-size: 65px;
  text-align: left;
  overflow: hidden;
}

.home-content p {
  height: 100%;
  width: 100%;
  font-size: 25px;
  color: #ecffff;
  font-weight: 750;
  margin: 20px 0 40px;
  text-align: justify;
  overflow: hidden;
}

.home .home-video {
  display: flex;
  position: relative;
  background: transparent;
  height: 70%;
  width: 120%;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  z-index: 1;
}

