@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f4172;
  z-index: 100;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 black;
}

.header a {
  font-size: 25px;
  color: #b1dce2;
  text-decoration: none;
  font-weight: 750;
  margin-left: 35px;
  transition: 0.3s;
}

.logo {
  width: 130px;
  height: 100px;
  object-fit: cover;
  display: flex;
  margin-left: 210px;
  object-fit: cover;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 225px;
}

.navbar a {
  text-decoration: none;
  color: #b1dce2;
  font-size: 23px;
  font-weight: 600;
}

.navbar a:hover {
  color: #d1707d;
}

.mobile {
  display: none;
}

/* Estilos para dispositivos mobiles */
@media screen and (max-width: 480px) {
  .navbar {
    display: block;
    margin-right: 60px;
  }

  .navbar a {
    display: none;
    font-size: 18px;
  }

  .logo {
    margin-left: 0;
  }

  .navbar.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 1rem;
  }

  .navbar.open a {
    margin: 10px 0;
    font-size: 16px;
  }

  .mobile {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
}

/* Estilos para dispositivos tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    display: block;
    margin-right: 100px;
  }

  .navbar a {
    display: none;
    font-size: 18px;
  }

  .navbar.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 1rem;
  }

  .navbar.open a {
    margin: 10px 0;
    font-size: 16px;
  }

  .mobile {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
}

/* Estilos para tabletas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    display: block;
    margin-right: 100px;
  }

  .header a {
    font-size: 20px;
  }

  .logo {
    width: 120px;
  }

  .navbar.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 1rem;
  }

  .navbar a {
    display: none;
    font-size: 18px;
  }

  .mobile {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
}

/* Estilos para escritorios */
@media screen and (min-width: 1025px) and (max-width: 1307px) {
  .header a {
    font-size: 22px;
  }

  .navbar {
    margin-right: 130px;
  }

  .navbar.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 1rem;
  }

  .logo {
    width: 130px;
  }

  .navbar a {
    display: none;
    font-size: 20px;
  }

  .mobile {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
}
