.container {
  position: fixed;
  right: 19px;
  bottom: 90px;
  width: 3.82%;
  padding: 10px;
  z-index: 1;
}

.sidebuttons {
  position: absolute;
  top: -280%;
  right: 10px;
  background-color: #0f4172;
  border: 3px solid #d1707d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebuttons.show {
  opacity: 1;
  visibility: visible;
}

.sections {
  color: #b1dce2;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sections:hover {
  color: #0f4172;
  background: #d1707d;
}

.icon {
  background-color: #0f4172;
  border: 3px solid #d1707d;
  border-radius: 15%;
  padding: 10px;
  color: #b1dce2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon:hover {
  box-shadow: 0 1px 25px 0 #d1707d;
}

